<div class="game-header">
  <h2>
  <i class="fa-solid fa-robot"></i>
  WORD BATTLE
  <i class="fa-solid fa-puzzle-piece"></i>
  </h2>

  <p>
    <strong>Difficulty:</strong> {{ difficulty }} | <strong>Category:</strong>
    {{ currentCategory }}
  </p>

  <div class="game-tracker">
    <div class="game-tracker__user">
      <strong><i class="fa-solid fa-user"></i> {{ username }}</strong
      ><br />
      <i class="fa-solid fa-check"></i> Correct: {{ userStats.correct }}<br />
      <i class="fa-solid fa-xmark"></i> Wrong: {{ userStats.wrong }}<br />
      <i class="fa-solid fa-hourglass-half"></i> Time Left: {{ userTimeLeft }}s
    </div>
    <div class="game-tracker__ai">
      <strong>AI </strong> <i class="fa-solid fa-robot"></i><br />
      Correct: {{ aiStats.correct }} <i class="fa-solid fa-check"></i> <br />
      Wrong: {{ aiStats.wrong }} <i class="fa-solid fa-xmark"></i><br />
      Time Left: {{ aiTimeLeft }}s <i class="fa-solid fa-hourglass-half"></i>
    </div>
  </div>
  <div class="game-user-round">
    {{ isAiGuessMode ? 'Your Turn to Describe!' : 'Your Turn to Guess!' }}
  </div>

  <p class="game-round">
    <i class="fa-solid fa-repeat"></i> Round: {{ round }} / 18
  </p>
</div>
