<div
  class="game-container"
  style="max-width: 900px; margin: auto; padding: 2rem; font-family: sans-serif"
>
  <h2 style="text-align: center; margin-bottom: 1.5rem">
    Round {{ roundNumber }} / 18 — {{ currentDifficulty | titlecase }}
  </h2>

  <ng-container *ngIf="!isUserGuess">
    <app-ai-guesses
      [roundNumber]="roundNumber"
      (roundCompleted)="nextRound()"
      [userGuessTimeLeft]="userGuessTimeLeft"
      [aiGuessTimeLeft]="aiGuessTimeLeft"
      (timerChanged)="onTimerChanged($event)"
      [currentDifficulty]="currentDifficulty"
      (gameOverEvent)="onGameOver()"
      [currentCategory]="currentAICategory"
    ></app-ai-guesses>
  </ng-container>

  <ng-container *ngIf="isUserGuess">
    <app-user-guesses
      [roundNumber]="roundNumber"
      [categoryUsage]="userGuessCategoryUsage"
      [userGuessTimeLeft]="userGuessTimeLeft"
      [aiGuessTimeLeft]="aiGuessTimeLeft"
      (roundCompleted)="nextRound()"
      (timerChanged)="onTimerChanged($event)"
      [currentDifficulty]="currentDifficulty"
      (gameOverEvent)="onGameOver()"
    ></app-user-guesses>
  </ng-container>
</div>
