<div class="game-container">
  <h2>Round {{ roundNumber }} / 18 — {{ currentDifficulty | titlecase }}</h2>

  <ng-container *ngIf="isUserTurn; else aiTurn">
    <app-ai-guesses
      [roundNumber]="roundNumber"
      (roundCompleted)="nextRound()"
      [userGuessTimeLeft]="userGuessTimeLeft"
      [aiGuessTimeLeft]="aiGuessTimeLeft"
      (timerChanged)="onTimerChanged($event)"
      [currentDifficulty]="currentDifficulty"
    ></app-ai-guesses>
  </ng-container>

  <ng-template #aiTurn>
    <app-user-guesses
      [roundNumber]="roundNumber"
      [categoryUsage]="userGuessCategoryUsage"
      [userGuessTimeLeft]="userGuessTimeLeft"
      [aiGuessTimeLeft]="aiGuessTimeLeft"
      (roundCompleted)="nextRound()"
      (timerChanged)="onTimerChanged($event)"
      [currentDifficulty]="currentDifficulty"
    ></app-user-guesses>
  </ng-template>
</div>
