.login-container {
  max-width: 400px;
  margin: 4rem auto;
  padding: 4rem;
  background-color: #1e293b;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 12px rgb(49 207 176 / 48%);
  font-family: 'Orbitron', sans-serif;

  h2{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    color: #00ffcc;
    text-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc;
    font-family: 'Orbitron', sans-serif;
    i{
      color: #2d685f;
    }
  }
  label{
    color : #d3d3d3
  }
  input {
    padding: 0.5rem;
    width: 80%;
    margin: 1rem 0;
    border-radius: 6px;
    border: 1px solid #04ffcc;
    background-color: #0d172a;
    color: #d3d3d3;
  }
  button {
    padding: 0.5rem 1rem;
    background-color: #0da788;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
  }
  button:hover {
    background-color: #0a7f6c;
  }
}


.game-rules {
  max-width: 700px;
  margin: 4rem auto;
  padding: 4rem;
  background-color: #1e293b;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 12px rgb(49 207 176 / 48%);
  font-family: 'Orbitron', sans-serif;

  h3 {
    margin-bottom: 2rem;
    color: #00ffcc;
    text-align: center;
  }
  
  ul {
    padding-left: 1.2rem;
    line-height: 1.6;
    color: #d3d3d3;
    text-align: left;
    margin: 0 auto;

    li{
      strong {
        color: #04ffcc;
      }
      &::marker {
        color: #04ffcc;
      }
    }
  }
}



